
/*line-clamp Start*/

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.line-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@mixin line-clamp($inLine) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-line-clamp: $inLine;
  -webkit-box-orient: vertical;
}

@mixin generator-line-clamp($inList, $inPrefix:'.lc-') {
  #{$inPrefix} {
    @each $i in $inList {
      @if $i=='wrap' {
        &#{$i} {
          @extend .line-wrap;
        }
      }
      @else {
        &#{$i} {
          -webkit-line-clamp: $i;
          @extend .line-clamp;
        }
      }
    }
  }
}

/*line-clamp End*/