/*line Start*/

.blank {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}

@mixin generator-line($inList, $inColor:#ddd, $inPrefix:'line-') {
  .#{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: #{$i}px;
        background-color: $inColor;
        @extend .blank;
      }
    }
  }
}

/*line End*/